{% load static %}
<!DOCTYPE html>
<html lang="en">
    <html>
        <head>
            <title>isitnewyear</title>
            <link rel="stylesheet" href="{% static 'newyear/style.css' %}">
        </head>
        <body>
           
            <h1 style="color:indianred;"> is it new year?</h1>
            {% if newyear %}
                <h3 style="color: rgb(69, 69, 231);">yes it is!</h3>
                <h2> lets go.....</h2>
            {% else %}
            <div class="container">
                <img src="gsmarena_001.jpg" alt="fireworks" style="width:100%;">
                <div class="bottom-left">Bottom Left</div>
                <div class="top-left">Top Left</div>
                <div class="top-right">Top Right</div>
                <div class="bottom-right">Bottom Right</div>
                <div class="centered">no</div>
              </div>
        
            {%endif%}

        </body>
    </html>